/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 998;
    background: #4e5d6c;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    user-select: none;
}
#sidebar.active {
    left: 0;
}
#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #455260;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#dismiss:hover {
    background: #fff;
    color: #455260;
}
.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 997;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}
#sidebar .sidebar-header {
    padding: 20px;
}
#sidebar p {
    color: #fff;
    margin-bottom: 0;
    font-size: 10pt;
}
#sidebar ul li a {
    padding: 10px;
    font-size: 0.9em;
    display: block;
    cursor: pointer;
}
#sidebar ul li a .plugin-status {
    margin-right: 5px;
}
#sidebar ul li a:hover {
    background: #455260;
}
#sidebar > ul > li > a:not(.collapsed) {
    background-color: #455260;
}
a .fa-chevron-up {
    margin: 4px;
    transition: all 0.35s ease;
}
a.collapsed .fa-chevron-up {
    transform: rotate(180deg);
}
a[data-toggle="collapse"] {
    position: relative;
}
ul ul a {
    font-size: 0.9em !important;
    padding: 8px 0 8px 30px !important;
    background-color: #455260;
}
ul ul a i {
    margin-right: 8px;
}

/* ---------------------------------------------------
    GLOBAL STYLE
----------------------------------------------------- */
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
.form-floating > textarea.form-control {
    font-family: monospace;
    height: 130px;
    width: 100%;
    resize: both;
    white-space: pre;
}
.form-floating > textarea#docker-ps.form-control { height: 180px }
.form-floating > textarea.form-control:not(:placeholder-shown) {
    padding-top: 2.2rem;
}
.terminal-output {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 10px;
    display: none;
    width: 100%;
    max-width: 500px;
    height: 400px;
    background-color: black;
    color: white;
    overflow: scroll;
    font-family: courier, serif;
    font-size: 12px;
    line-height: 12px;
    padding: 20px;
    z-index: 999;
    flex-direction: column;
}
.terminal-output pre {
    flex: 1;
    margin: 0 0 10px;
    padding-bottom: 5px;
}
.terminal-output a {
    display: none;
    margin: 1px;
}
